<!DOCTYPE html>
<html>
<head>
    <title>Успешная регистрация</title>
    <style>
        body {
            background-image: url('https://i.imgur.com/peMcJL5.jpg');
            background-size: cover;
            color: white;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .button {
            background-color: white;
            color: black;
            padding: 15px 25px;
            margin: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
        }
    </style>
</head>
<body>
    <h1>Спасибо за регистрацию!</h1>
    <p>Вы успешно зарегистрировались на нашем сайте.</p>
    <div class="button-container">
        <a href="https://www.chiquita.com" class="button">Бананы</a>
        <a href="https://www.montereybayaquarium.org/animals/animals-a-to-z" class="button">Рыбы</a>
        <a href="https://www.lionalert.org" class="button">Львы</a>
        <a href="https://www.burpee.com/flowers/" class="button">Цветы</a>
    </div>
</body>
</html>
