<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <style>
        body {
            font-family: Alkalami, sans-serif;
            text-align: center;
        }

        .register-form, .welcome-text {
            margin: 50px auto;
            display: block;
            width: fit-content;
            background-color: rgba(205, 133, 63, 0.7);
            padding: 20px;
            border-radius: 25px;
        }

        video#bgvid {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background-size: cover;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    @{
        var urlJson = System.IO.File.ReadAllText("url.json");
        var url = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(urlJson);
        var firstUrl = url.url[0];
    }

    <video autoplay loop muted id="bgvid">
        <source src="@firstUrl" type="video/mp4">
    </video>

    <div class="welcome-text">
        <h1>Добро пожаловать !</h1>
    </div>
    <div class="register-form">
        <h2>Регистрация</h2>
        <form action="/Account/Register" method="post">
            <label for="username">Имя пользователя:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br><br>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Зарегистрироваться">
        </form>

    </div>
</body>
</html>
